{%- liquid
  assign desc = product.description
-%}
{% if product.metafields.c_f.short_description %}
  {%- liquid
    assign desc = product.metafields.c_f.short_description
  -%}
{% endif %}
{%- if desc != blank -%}
  <div class="productView-desc halo-text-format">
    {{ desc }}
  </div>
{%- endif -%}