<link rel="stylesheet" href="{{ 'component-rte.css' | asset_url }}" media="print" onload="this.media='all'">
<noscript>{{ 'component-rte.css' | asset_url | stylesheet_tag }}</noscript>


{% unless template.suffix contains 'landing' or template.suffix == 'template-collection' or  template.suffix == 'template-paymentinfo' or template.suffix == 'template-shipping'  or template.suffix == 'legal' or template.suffix == 'template-simple-1' or template.suffix == 'template-simple-2' or template.suffix == 'template-simple-3'  %}

<div class="page-width page-width--narrow">
	<div class="container">
        {% comment %}
	  <h1 class="main-page-title page-header{% if settings.banner_animation == 'effect_fade_up' %} scroll-trigger animate--slide-in{% endif %}">
	    {{ page.title | escape }} 
	  </h1>
      {% endcomment %}
	  <div class="shopify-policy__container">
	    {{ page.content }}
	  </div>
  	</div>
</div>
{% endunless %}

{% schema %}
{
  "name": "t:sections.main-page.name",
  "tag": "section",
  "class": "spaced-section"
}
{% endschema %}


