.web3000-full-width-image-video-section {
	padding: 5rem var(--wrap) 7rem;
}

.web3000-full-width-image-video {
	background-color: var(--color-bg-white);
}

.web3000-full-width-image-video__image {
	width: 100%;
	height: auto;
	max-width: 75em;
	margin: 0 auto;
}

.video-container {
	text-align: center;
}

.web3000-full-width-image-video__media.deferred-media,
.web3000-video {
	width: 100%;
	margin: 0 auto;
	max-height: 70vh;
}
/* 
@media screen and (min-width: 768px) {
	.web3000-full-width-image-video__media.deferred-media {
		width: 80% !important;
	}
}

@media screen and (min-width: 1024px) {
	.web3000-full-width-image-video__media.deferred-media {
		width: 66.666% !important;
	}
} */

.web3000-full-width-image-video__media.deferred-media {
	overflow: hidden;
	display: block;
}

.deferred-media__poster {
	background-color: transparent;
	border: none;
	cursor: pointer;
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

.media > .deferred-media__poster {
	display: flex;
	align-items: center;
	justify-content: center;
}

.deferred-media__poster img {
	width: auto;
	height: 100%;
}

.deferred-media {
	overflow: hidden;
	padding-bottom: 0 !important;
}

.deferred-media:not([loaded]) template {
	z-index: -1;
}

.deferred-media[loaded] > .deferred-media__poster {
	display: none;
}

.deferred-media__poster:focus {
	outline-offset: -0.3rem;
}

.deferred-media__poster-button {
	background-color: var(--color-background);
	border: 0.1rem solid #a9a5a5;
	border-radius: 50%;
	color: #858585;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 6.2rem;
	width: 6.2rem;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%) scale(1);
	transition: transform var(--duration-short) ease, color var(--duration-short) ease;
	z-index: 1;
}

.deferred-media__poster-button:hover {
	transform: translate(-50%, -50%) scale(1.1);
}

.deferred-media__poster-button .icon {
	width: 2rem;
	height: 2rem;
}

.deferred-media__poster-button .icon-play {
	margin-left: 0.2rem;
}

@media screen and (min-width: 1024px) {
	.web3000-full-width-image-video-section {
		padding: 5rem var(--wrap) 12rem;
	}

	.template-collection .web3000-video {
		max-height: 37rem;
		object-fit: cover;
	}
}
