.web3000-rich-text-section {
	background-color: var(--color-bg-white);
	color: var(--color-text-lightGray-2);
	padding-top: 8rem;
	padding-bottom: 7.7rem;
}

@media screen and (min-width: 1024px) {
	.web3000-rich-text-section {
		padding-top: 13rem;
		padding-bottom: 12rem;
	}
}

.web3000-rich-text-section.invert-colors {
	background-color: var(--color-bg-black);
	color: var(--color-text-white);
}

.web3000-rich-text-section.big-margin {
	padding-top: 6rem;
	padding-bottom: 6rem;
}

@media screen and (min-width: 1024px) {
	.web3000-rich-text-section.big-margin {
		padding-top: 13rem;
		padding-bottom: 13rem;
	}
}

.web3000-rich-text-section .rich-text-content {
	text-align: center;
	max-width: var(--desktop-max-text-width);
	margin: auto;
}
